1)write a program to check whether a number entered by user is even or odd.

2)write a program to display "Hello" if a number entered by user is a multiple of five otherwise print "Bye".

3)write a program to calculate the electricity bill(accept number of unit from user) according to the following criteria:

unit                  price

1st 100 units         no charge
next 100 units        rs 5 per unit
after 200 units       rs 10 per unit

(for eg:if input unit is 350 than total bill amount is rs2000)

4)write a python program to accept percentage  from the user and display the grade according to the following criteria

marks                     grades
>90                         A
>80 and <=90                B
>=60 and <=80               C
below 60                    D

5)write a python program to accept a number from 1 to 7 and display the name of the day like 1 for sunday,2 for Monday and so on.

6)write a program to accept a number from 1 to 12 and display name of the month and days in that month like 1 for January and number of days is 31 and so on.

7)write a program to check whether a number(accepted from user) positive or negative or zero

8)Accept the temperature in degree Celsius of water and check whether it is boiling or not(boiling point of water is 100deg c)

9)Accept the following the user and calculate the percentage of class attended:
a)total number of working days  30
b)total number of days for absent 25

after calculating percentage show that, if the percentage is less than 75 than student will not be able to sit in exam.


10)A company decided to give bonus to employee according to following criteria:

time period of service          bonus
more than 10 years              10%
>=6 and <=10                    8%
less than 6 years               5%

ask user for their salary and years of service and print the net bonus amount.


11)Accept the number of days from the user and calculate the charge for library according to following:
till five days: Rs 2/day.
six to ten days: Rs 3/day
11 to 15 days: Rs 4/day
after 15 days: Rs 5/day


12)write a program to accept two numbers and mathematical operator and perform operation accordingly.

sample output:
enter first number:7
enter second number:7
enter operator: +

13)Accept the age of 3 people and display the oldest one.

14)write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

cost price(in Rs)     Tax
>100000               15%
>50000 and <=100000   10%
<=50000               5%


15)Accept three sides of triangle and check whether the triangle is possible or not.
(triangle is possible only when sum of any two sides is greater than 3rd side)

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 1
Odd

In [ ]:
num = int(input("Enter a number: "))
if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number: 5
Hello

In [ ]:
units = int(input("Enter number of units: "))
bill = 0
if units <= 100:
    bill = 0
elif units <= 200:
    bill = (units - 100) * 5
else:
    bill = (100 * 5) + (units - 200) * 10
print(f"Total bill amount is Rs {bill}")

Enter number of units: 23456
Total bill amount is Rs 233060

In [ ]:
percentage = float(input("Enter percentage: "))
if percentage > 90:
    print("Grade A")
elif percentage > 80:
    print("Grade B")
elif percentage >= 60:
    print("Grade C")
else:
    print("Grade D")

Enter percentage: 52
Grade D

In [ ]:
num = int(input("Enter a number (1-7): "))
days = {1: "Sunday", 2: "Monday", 3: "Tuesday", 4: "Wednesday",
        5: "Thursday", 6: "Friday", 7: "Saturday"}
if num in days:
    print(days[num])
else:
    print("Invalid input")

Enter a number (1-7): 1
Sunday

In [ ]:
num = int(input("Enter a number (1-12): "))
months = {
    1: ("January", 31), 2: ("February", 28), 3: ("March", 31),
    4: ("April", 30), 5: ("May", 31), 6: ("June", 30),
    7: ("July", 31), 8: ("August", 31), 9: ("September", 30),
    10: ("October", 31), 11: ("November", 30), 12: ("December", 31)
}
if num in months:
    print(f"Month: {months[num][0]}, Days: {months[num][1]}")
else:
    print("Invalid input")

Enter a number (1-12): 12
Month: December, Days: 31

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: -2
Negative

In [ ]:
temp = float(input("Enter temperature in Celsius: "))
if temp >= 100:
    print("Water is boiling")
else:
    print("Water is not boiling")

Enter temperature in Celsius: 200
Water is boiling

In [ ]:
working_days = 30
absent_days = 25
present_days = working_days - absent_days
percentage = (present_days / working_days) * 100
print(f"Attendance percentage: {percentage}%")
if percentage < 75:
    print("Student cannot sit in exam")
else:
    print("Student can sit in exam")

Attendance percentage: 16.666666666666664%
Student cannot sit in exam

In [ ]:
salary = float(input("Enter salary: "))
years = int(input("Enter years of service: "))
if years > 10:
    bonus = salary * 0.10
elif years >= 6:
    bonus = salary * 0.08
else:
    bonus = salary * 0.05
print(f"Net bonus amount: Rs {bonus}")

Enter salary: 200000
Enter years of service: 20
Net bonus amount: Rs 20000.0

In [ ]:
days = int(input("Enter number of days: "))
if days <= 5:
    charge = days * 2
elif days <= 10:
    charge = (5 * 2) + (days - 5) * 3
elif days <= 15:
    charge = (5 * 2) + (5 * 3) + (days - 10) * 4
else:
    charge = (5 * 2) + (5 * 3) + (5 * 4) + (days - 15) * 5
print(f"Total charge: Rs {charge}")

Enter number of days: 7
Total charge: Rs 16

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")
if op == '+':
    print(num1 + num2)
elif op == '-':
    print(num1 - num2)
elif op == '*':
    print(num1 * num2)
elif op == '/':
    print(num1 / num2 if num2 != 0 else "Cannot divide by zero")
else:
    print("Invalid operator")

Enter first number: 123
Enter second number: 234
Enter operator (+, -, *, /): /
0.5256410256410257

In [ ]:
age1 = int(input("Enter age of first person: "))
age2 = int(input("Enter age of second person: "))
age3 = int(input("Enter age of third person: "))
oldest = max(age1, age2, age3)
print(f"The oldest person is {oldest} years old")

Enter age of first person: 45
Enter age of second person: 56
Enter age of third person: 78
The oldest person is 78 years old

In [ ]:
cost = float(input("Enter cost price of bike: "))
if cost > 100000:
    tax = cost * 0.15
elif cost > 50000:
    tax = cost * 0.10
else:
    tax = cost * 0.05
print(f"Road tax to be paid: Rs {tax}")

Enter cost price of bike: 400000
Road tax to be paid: Rs 60000.0

In [ ]:
a = float(input("Enter first side: "))
b = float(input("Enter second side: "))
c = float(input("Enter third side: "))
if (a + b > c) and (b + c > a) and (a + c > b):
    print("Triangle is possible")
else:
    print("Triangle is not possible")

Enter first side: 20
Enter second side: 60
Enter third side: 100
Triangle is not possible